@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    margin: 0;
    line-height: 1.618;
    background: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    height: 200vh;
}

.app {
    position: relative;
}

.main {
    margin-top: 62px;
}